{"swagger":"2.0","info":{"version":"v1","title":"Journey Orchestration APIs","description":">\n   This API allows access to capping configuration for Journey Orchestration by\n   an authorized technical account created through the Adobe I/O Console.\n\n   Learn more about the capping mechanism by clicking on the following link:\n   https://docs.adobe.com/content/help/en/journeys/using/working-with-apis/capping.html\n\n\n   **API paths**:\n\n   Journey Orchestration Gateway URL: https://journey.adobe.io/\n     Base path for this API: /authoring\n     Example of a complete path: https://journey.adobe.io/authoring/endpointConfigs\n\n   **Required headers**:\n     All calls require the headers **Authorization**, *x-gw-ims-org-id*, and **x-api-key**.\n     All requests with a payload in the request body (such as POST, PUT calls) must include the header **Content-Type** with the value *application/json*\n     \n   **States of a capping configuration**:\n     The current state of a capping configuration is either *'created'*, *'updated'* or *'deployed'*. Refer to the description and example below for GET **/endpointConfigs/{uid}** and PUT **/endpointConfigs/{uid}** operations.\n\n   **Deployment status**:\n     In creation and update responses, a **canDeploy** JSON object indicates whether or not the capping configuration can be deployed. It may contain some errors and warnings. Refer to the description and example below for GET **/endpointConfigs/canDeploy/{uid}** operation."},"host":"journey.adobe.io","basePath":"/authoring","schemes":["https"],"paths":{"/endpointConfigs":{"post":{"tags":["Capping configuration"],"summary":"Creates an endpoint capping configuration","description":"Creates a capping configuration on a given endpoint identified by its\nURL. The endpoint can be used in one or more actions and data sources.\n\n\nIn the given payload, the capping configuration is defined by :\n\n\n- **url** : the URL of the endpoint, as defined in the actions or data\nsources.\n\n\n- **methods** : the methods called on this endpoint, as defined in the\nactions or data sources.\n\n\n- Within **services** JSON object, one of the two following values is\nexpected :\n\n* **\"action\"** if the capping will be applied on the endpoint when executing a Custom Action\n* **\"dataSource\"** if the capping will be applied on the endpoint when fetching data from a Data Source\n\n- (optional) **maxHttpConnections**: max count of simultaneous\nconnections to the endpoint. If not provided, there will be no\nlimitation of the number of connections to the endpoint.\n\n\n- Within **rating** JSON object :\n* **maxCallsCount**: max count of calls to be performed in the given period (min value is 1)\n* **periodInMs**: duration in milliseconds (value greater than 0)","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/endpointconfigs.json public","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"payload","required":false,"schema":{"properties":{"methods":{"type":"array","items":{"type":"string","enum":["GET","POST","PUT","PATCH","DELETE","OPTION"]}},"orgId":{"type":"string"},"services":{"type":"object","properties":{"action/dataSource":{"type":"object","additionalProperties":false,"properties":{"rating":{"properties":{"callRating":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string"},"maxCalls":{"type":"integer"},"periodInMs":{"type":"integer"}}}}}}}}},"url":{"type":"string"},"version":{"type":"string"}},"example":{"url":"https://api.example.org/data/2.5/weather","methods":["GET"],"services":{"dataSource":{"maxHttpConnections":20000,"rating":{"maxCallsCount":5000,"periodInMs":1000}}},"orgId":"<IMS Org Id>"}}}],"responses":{"200":{"description":"Ok","schema":{"type":"object","properties":{"createdElement":{"type":"object","additionalProperties":false,"required":["uid"],"properties":{"methods":{"type":"array","items":{"type":"string","enum":["GET","POST","PUT","PATCH","DELETE","OPTION"]}},"orgId":{"type":"string"},"services":{"type":"object","properties":{"action/dataSource":{"type":"object","additionalProperties":false,"properties":{"rating":{"properties":{"callRating":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string"},"maxCalls":{"type":"integer"},"periodInMs":{"type":"integer"}}}}}}}}},"url":{"type":"string"},"version":{"type":"string"},"metadata":{"type":"object","additionalProperties":false,"properties":{"createdBy":{"type":"string"},"createdById":{"type":"string"},"createdAt":{"type":"string"},"lastModifiedBy":{"type":"string"},"lastModifiedById":{"type":"string"},"lastModifiedAt":{"type":"string"},"lastDeployedBy":{"type":"string"},"lastDeployedById":{"type":"string"},"lastDeployedAt":{"type":"string"}}},"state":{"type":"string","enum":["created","updated","deployed"]},"tenantId":{"type":"string"},"uid":{"type":"string"},"authoringFormatVersion":{"type":"string"}}},"uid":{"type":"string"},"uri":{"type":"string"},"resStatus":{"type":"string","enum":["created","updated","deployed"]},"canDeploy":{"properties":{"validationStatus":{"type":"string"},"reason":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"errorCode":{"type":"integer"},"error":{"type":"string"}}}}}}}},"examples":{"application/json":{"createdElement":{"url":"https://api.example.org/data/2.5/weather","methods":["GET"],"services":{"dataSource":{"maxHttpConnections":30000,"rating":{"maxCallsCount":5000,"periodInMs":1000}}},"metadata":{"createdBy":"<user name>","createdById":"<user adobeId>","lastModifiedBy":"<user name>","lastModifiedById":"<user adobeId>","createdAt":"2020-03-09T18:21:52.432963Z","lastModifiedAt":"2020-03-09T18:21:52.432963Z"},"state":"created","orgId":"<IMS Org Id>","tenantId":"prod","uid":"9e6bbdf4-8e40-4ac8-9e83-1e2cc7f0f1e7","authoringFormatVersion":"1.0","hasBeenDeployed":false},"uid":"9e6bbdf4-8e40-4ac8-9e83-1e2cc7f0f1e7","uri":"/voyager/apis/endpointConfigs/9e6bbdf4-8e40-4ac8-9e83-1e2cc7f0f1e7","resStatus":"created","canDeploy":{"validationStatus":"ok"}}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}},"/endpointConfigs/{uid}":{"get":{"tags":["Capping configuration"],"summary":"Gets an endpoint capping configuration","description":"\nReturns the capping configuration identified by the given Unique ID. The latest definition is returned.\n\n\nIn addition to the data provided when creating or updating a\nconfiguration, the response essentially contains the following\nelements:\n\n- **uid** : Unique ID of the capping configuration, generated at\ncreation time\n\n- **metadata** : information about creation, last update and last\ndeployment\n\n- **state** : current state of the capping configuration, either\n*'created'*, *'updated'* or *'deployed'*\n\n- **hasBeenDeployed** : *true* or *false*\n\n- **deployedConfig** in case the configuration has been deployed:\nthis is the capping configuration at latest deployment time. The current\ncapping configuration differs if it has been updated since.","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/endpointconfigs_uid.json public","produces":["application/json;charset=utf-8"],"parameters":[{"name":"uid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"object","properties":{"result":{"type":"object","additionalProperties":false,"required":["uid"],"properties":{"_id":{"type":"string"},"url":{"type":"string"},"methods":{"type":"array","items":{"type":"string","enum":["GET","POST","PUT","PATCH","DELETE","OPTION"]}},"services":{"type":"object","properties":{"action/dataSource":{"type":"object","additionalProperties":false,"properties":{"rating":{"properties":{"callRating":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string"},"maxCalls":{"type":"integer"},"periodInMs":{"type":"integer"}}}}}}}}},"metadata":{"type":"object","additionalProperties":false,"properties":{"createdBy":{"type":"string"},"createdById":{"type":"string"},"createdAt":{"type":"string"},"lastModifiedBy":{"type":"string"},"lastModifiedById":{"type":"string"},"lastModifiedAt":{"type":"string"},"lastDeployedBy":{"type":"string"},"lastDeployedById":{"type":"string"},"lastDeployedAt":{"type":"string"}}},"state":{"type":"string","enum":["created","updated","deployed"]},"orgId":{"type":"string"},"tenantId":{"type":"string"},"uid":{"type":"string"},"authoringFormatVersion":{"type":"string"},"hasBeenDeployed":{"type":"boolean"}}}}},"examples":{"application/json":{"result":{"_id":"5fc2cbf1-3c31-4bb6-91ef-0ac9e277d3bc","url":"https://api.example.org/data/2.5/weather","methods":["POST","PUT"],"services":{"action":{"maxHttpConnections":15000,"rating":{"maxCallsCount":2000,"periodInMs":1000}}},"metadata":{"createdBy":"<user name>","createdById":"<user adobeId>","lastModifiedBy":"<user name>","lastModifiedById":"<user adobeId>","createdAt":"2020-03-03T10:42:47.813552Z","lastModifiedAt":"2020-03-13T17:24:11.765320Z"},"state":"updated","orgId":"<IMS Org Id>","tenantId":"prod","uid":"5fc2cbf1-3c31-4bb6-91ef-0ac9e277d3bc","authoringFormatVersion":"1.0","hasBeenDeployed":false}}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}},"put":{"tags":["Capping configuration"],"summary":"Updates an endpoint capping configuration","description":"\nUpdates the capping configuration identified by the given Unique ID. The operation is an overwrite of the existing configuration, therefore the request body must\ninclude all fields required to create a configuration.\n\n\nA configuration can be updated at any time, even if it has been\ndeployed. In such case, **state** is *'updated'* and **hasBeenDeployed**\nis *true*. To apply the latest changes, the configuration must be deployed\nagain. The **deployedConfig** object always defines the configuration\nwhich is currently deployed.","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/put/endpointconfigs_uid.json public","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"uid","in":"path","required":true,"type":"string"},{"in":"body","name":"payload","required":false,"schema":{"properties":{"methods":{"type":"array","items":{"enum":["GET","POST","PUT","PATCH","DELETE","OPTION"]}},"orgId":{"type":"string"},"services":{"type":"object","properties":{"action/dataSource":{"type":"object","additionalProperties":false,"properties":{"rating":{"properties":{"callRating":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string"},"maxCalls":{"type":"integer"},"periodInMs":{"type":"integer"}}}}}}}}},"url":{"type":"string"},"uid":{"type":"string"},"version":{"type":"string"}},"example":{"url":"https://api.example.org/data/2.5/*","methods":["GET"],"services":{"dataSource":{"maxHttpConnections":30000,"rating":{"maxCallsCount":5000,"periodInMs":1000}}},"orgId":"<IMS Org Id>"}}}],"responses":{"200":{"description":"Ok","schema":{"type":"object","properties":{"updatedElement":{"type":"object","additionalProperties":false,"required":["uid"],"properties":{"methods":{"type":"array","items":{"type":"string","enum":["GET","POST","PUT","PATCH","DELETE","OPTION"]}},"orgId":{"type":"string"},"services":{"type":"object","properties":{"action/dataSource":{"type":"object","additionalProperties":false,"properties":{"rating":{"properties":{"callRating":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string"},"maxCalls":{"type":"integer"},"periodInMs":{"type":"integer"}}}}}}}}},"url":{"type":"string"},"uid":{"type":"string"},"metadata":{"type":"object","additionalProperties":false,"properties":{"createdBy":{"type":"string"},"createdById":{"type":"string"},"createdAt":{"type":"string"},"lastModifiedBy":{"type":"string"},"lastModifiedById":{"type":"string"},"lastModifiedAt":{"type":"string"},"lastDeployedBy":{"type":"string"},"lastDeployedById":{"type":"string"},"lastDeployedAt":{"type":"string"}}},"state":{"type":"string","enum":["created","updated","deployed"]},"hasBeenDeployed":{"type":"boolean"},"tenantId":{"type":"string"}}},"uid":{"type":"string"},"uri":{"type":"string"},"resStatus":{"type":"string"},"canDeploy":{"properties":{"validationStatus":{"type":"string"},"reason":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"errorCode":{"type":"integer"},"error":{"type":"string"}}}}}}}},"examples":{"application/json":{"updatedElement":{"methods":["GET"],"orgId":"<IMS Org Id>","services":{"action":{"maxHttpConnections":30000,"rating":{"maxCallsCount":5000,"periodInMs":1000}}},"url":"https://api.example.org/data/2.5/*","uid":"9e6bbdf4-8e40-4ac8-9e83-1e2cc7f0f1e7","metadata":{"createdBy":"<user name>","createdById":"<user adobeId>","lastModifiedBy":"<user name>","lastModifiedById":"<user adobeId>","createdAt":"2020-03-09T18:21:52.432963Z","lastModifiedAt":"2020-04-10T11:21:52.432963Z"},"state":"updated","hasBeenDeployed":false,"tenantId":"prod"},"uid":"9e6bbdf4-8e40-4ac8-9e83-1e2cc7f0f1e7","uri":"/voyager/apis/endpointConfigs/9e6bbdf4-8e40-4ac8-9e83-1e2cc7f0f1e7","resStatus":"updated","canDeploy":{"validationStatus":"ok"}}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}},"delete":{"tags":["Capping configuration"],"summary":"Deletes an endpoint capping configuration","description":"\nDeletes the capping configuration identified by the given Unique ID.\n\n\nIn case the configuration has been deployed, it must be undeployed\nbefore being deleted. Otherwise an error response with HTTP Status Code\n500 is returned :\n```json\n{\n\"status\": 500,\n\"error\": {\n\"code\":1451,\n\"family\": \"INPUT_OUTPUT_ERROR\",\n\"message\": \"Can't delete a deployed endpoint config. Undeploy it before deleting it\",\n\"service\": \"vyg-authoring-api\",\n\"version\": \"ce5cac3\",\n\"context\": \"com.adobe.voyager.service.authoring.restapis.v1_0.EndpointConfigService:189\"\n\"schema\":\"21835D7E5BFF031F0A494026@AdobeOrg_prod_journeyVersions\"\n},\n\"requestId\": \"pxSRgsBzUKYcMyNlqc0paqIJZfc0qdAw\"\n}\n```\n\nTo override this control, you need to pass *forceDelete=true* as query\nparameter.","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/delete/endpointconfigs_uid.json public","produces":["application/json;charset=utf-8"],"parameters":[{"name":"forceDelete","in":"query","required":false,"type":"string"},{"name":"uid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"object","properties":{}},"examples":{"application/json":{}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}},"/endpointConfigs/{uid}/canDeploy":{"get":{"tags":["Capping configuration"],"summary":"Checks if an endpoint capping configuration can be deployed","description":"\nCalling this operation is not mandatory for using any other operation of\nthe capping API. It allows to verify wether or not a capping\nconfiguration can be deployed. It returns the validation status of the\nconfiguration identified by its Unique ID, either:\n- **\"ok\"**\n- **\"error\"**\n\nThe potential errors are:\n- **ERR_ENDPOINTCONFIG_100**: capping config: missing or invalid url\n- **ERR_ENDPOINTCONFIG_101**: capping config: malformed url\n- **ERR_ENDPOINTCONFIG_102**: capping config: malformed url: wildchar in url not allowed in host:port\n- **ERR_ENDPOINTCONFIG_103**: capping config: missing HTTP methods\n- **ERR_ENDPOINTCONFIG_104**: capping config: no call rating defined\n- **ERR_ENDPOINTCONFIG_107**: capping config: invalid max calls count (maxCallsCount)\n- **ERR_ENDPOINTCONFIG_108**: capping config: invalid max calls count (periodInMs)\n- **ERR_ENDPOINTCONFIG_111**: capping config: can't create endpoint config: invalid payload\n- **ERR_ENDPOINTCONFIG_112**: capping config: can't create endpoint config: expecting a JSON payload\n- **ERR_AUTHORING_ENDPOINTCONFIG_1**: invalid service name '\\<given value\\>': must be 'dataSource' or 'action'\n\nThe potential warning is:\n- **ERR_ENDPOINTCONFIG_106**: capping config: max HTTP connections not defined: no limitation by default","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/get/endpointconfigs_uid_candeploy.json public","produces":["application/json;charset=utf-8"],"parameters":[{"name":"uid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"object","properties":{"canDeploy":{"properties":{"validationStatus":{"type":"string"},"reason":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"errorCode":{"type":"integer"},"error":{"type":"string"}}}}}}}},"examples":{"application/json":{"canDeploy":{"validationStatus":"error","reason":"1 error is currently blocking the publication","errors":[{"errorCode":"ERR_ENDPOINTCONFIG_101","error":"capping config: malformed url"}],"warnings":[{"warningCode":"ERR_ENDPOINTCONFIG_106","warning":"capping config: max HTTP connections not defined: no limitation by default","scope":{"endpointConfigService":"dataSource","endpointConfigUrl":"https://api.example*.org:8*0/data/2.5/weather"}}]}}}},"400":{"description":"Bad request"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}},"/endpointConfigs/{uid}/deploy":{"post":{"tags":["Capping configuration"],"summary":"Deploys an endpoint capping configuration","description":"\nDeploys the capping configuration identified by the given Unique ID.\n\n\nA successful deployment returns an empty response body and HTTP Status\nCode 204 (No-content).\nIn such case, the configuration state is changed to *'deployed'* and **hasBeenDeployed**\nis *true*.","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/endpointconfigs_uid_deploy.json public","parameters":[{"name":"uid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ok"},"204":{"description":"No content provided"},"400":{"description":"Bad request"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}},"/endpointConfigs/{uid}/undeploy":{"post":{"tags":["Capping configuration"],"summary":"Undeploys an endpoint capping configuration","description":"\nUndeploys the capping configuration identified by the given Unique ID.\n\n\nA successful undeployment returns an empty response body and HTTP Status\nCode 204 (No-content). In such case, the configuration state is changed back to the state before the deployment, either *'created'* or *'updated'*, and **hasBeenDeployed** is changed to *false*.","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/endpointconfigs_uid_undeploy.json public","parameters":[{"name":"uid","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Ok"},"204":{"description":"No content provided"},"400":{"description":"Bad request"},"404":{"description":"Not found"},"500":{"description":"Internal server error"}}}},"/list/endpointConfigs":{"post":{"tags":["Capping configuration"],"summary":"Lists the endpoint capping configurations","description":"\nReturns the list of all endpoint capping configurations defined for the\ngiven IMS Organization.","operationId":"com/adobe/voyager/service/authoring/restapis/v1_0/swaggerendpoints/post/list_endpointconfigs.json public","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"properties":{"filter":{"type":"string"},"sort":{"type":"string"},"page":{"type":"integer"},"pageSize":{"type":"integer"},"latestOnly":{"type":"boolean"}},"example":{"filters":"filter","sorts":"sortType","page":"pageNumber","pageSize":"pageSize","latestOnly":"true"}}}],"responses":{"200":{"description":"Ok","schema":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"metadata":{"type":"object","additionalProperties":false,"properties":{"createdBy":{"type":"string"},"createdById":{"type":"string"},"createdAt":{"type":"string"},"lastModifiedBy":{"type":"string"},"lastModifiedById":{"type":"string"},"lastModifiedAt":{"type":"string"},"lastDeployedBy":{"type":"string"},"lastDeployedById":{"type":"string"},"lastDeployedAt":{"type":"string"}}},"methods":{"type":"array","items":{"type":"string","enum":["GET","POST","PUT","PATCH","DELETE","OPTION"]}},"description":{"type":"string"},"response_properties":{"type":"string"},"services":{"type":"object","properties":{"action/dataSource":{"type":"object","additionalProperties":false,"properties":{"rating":{"properties":{"callRating":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string"},"maxCalls":{"type":"integer"},"periodInMs":{"type":"integer"}}}}}}}}},"version":{"type":"string"},"orgId":{"type":"string"},"url":{"type":"string"},"uid":{"type":"string"},"hasBeenDeployed":{"type":"boolean"},"tenantId":{"type":"string"},"name":{"type":"string"},"_id":{"type":"string"},"state":{"type":"string","enum":["created","updated","deployed"]}}}}}},"examples":{}},"400":{"description":"Bad request"},"500":{"description":"Internal server error"}}}}}}